version: '3.9'
services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /portainer/etc/localtime:/etc/localtime:ro
      - /portainer/var/run/docker.sock:/var/run/docker.sock:ro
      - /portainer/data:/data
    networks:
      - nginx-proxy-manager_nginx

networks:
  nginx-proxy-manager_nginx:
    external: true
    name: nginx-proxy-manager_nginx